.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: cornsilk
}

button {
  color: red
}

ul {
  list-style: none;
  margin-right: 40px
}

h1 {
  display: inline-block
}

div {
  margin: 10px
}

.usersAndCat {
  display: flex;
  justify-content: center
}

.catAndUsers {
  margin-top: 80px
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
